.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.form{
  width: 350px;
  height: 500px;
  background: linear-gradient(-250deg,rgb(218, 241, 255),rgb(218, 241, 255));
  padding: 15px;
  box-shadow: 1px 1px 3px rgb(189, 189, 189);
  border-radius: 7px;

}
@media(max-width: 375px){
    .form{
      width: 280px;
      height: 500px;
      background: linear-gradient(-250deg,rgb(218, 241, 255),rgb(218, 241, 255));
      padding: 15px;
      box-shadow: 1px 1px 3px rgb(189, 189, 189);
      border-radius: 7px;
    }
}


.label{
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 8px;
  color: rgb(56, 56, 56);
}
.formControl{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.formControl-radio{
  width: 100%;
  max-height: 20px;
  margin-bottom: 40px;
}
.input{
  border: solid 1px rgb(175, 175, 175);
  height: 25px;
  padding: 4px;
  border-radius: 5px;
  outline: none;
  color: rgb(102, 102, 102);
}
.input:focus{
  border: solid 1px rgb(0, 132, 255);
}
.submitBtn{
  height: 40px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid rgb(145, 145, 145);
  cursor: pointer;
}
.submitBtn:disabled{
  cursor: no-drop;
}

.error{
  height: 20px;
  /* background-color: #fff; */
  color: red;
  font-size: 0.75rem;
  margin: 0 0 0 2px;
  font-weight:500;
}